div#order_details_metabox label {
  display: inline-block;
  width: 130px;
  max-width: 100%;
  margin-right: 5px;
  margin-bottom: 10px;
}
div#order_details_metabox input[type="text"] {
  margin-bottom: 10px;
  width: 200px;
  max-width: 100%;
}
button#add-translation {
  display: inline-block;
  background-color: #66de93;
  padding: 8px 20px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.translation-pair {
  margin-bottom: 10px;
}
